<!DOCTYPE html>
<html>

<head>
    <title>Games</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/games.css">
</head>

<body>
    <div id="app">
        <h1 class="text-center text-warning">Battleship</h1>
        <div class="text-right bg-info">
            <div>
                <form method="POST" action="" id="loginForm">
                    <label>Username:<br><input placeholder="Username" type="text" name="username" required><br></label>
                    <label>Password:<br><input placeholder="Password" type="password" name="password" required><br></label>
                    <button type="button" class="btn-warning" id="loginButton" >Log in</button>
                    <button type="button" class="btn-warning" id="signinButton">Sign in</button>
                </form>
            </div>
            <div>
                <form method="POST" action="" id="logoutForm">
                    <label v-if="player != null" class="font-weight-bold">{{player.email}}</label>
                    <button type="button" class="btn-warning" id="logoutButton">Logout</button>
                </form>
            </div>
        </div>
        <div v-show="player != null">
            <button type="button" class="btn-success" id="newGameButton" onclick="createNewGame()">Create new game</button>
        </div>
        <div>
            <div class="container">
                <h2 class="text-center">Games</h2>
                <table class="table table-bordered table-dark table-hover" id="salvo-table">

                </table>
            </div>
            <div class="container">
                <h2 class="text-center">Leaderboard</h2>
                <table class="table table-bordered table-dark table-hover" id="leaderboard">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total</th>
                            <th>Won</th>
                            <th>Lost</th>
                            <th>Tied</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="score in scores">
                            <td>{{score.email}}</td>
                            <td>{{score.score.total}}</td>
                            <td>{{score.score.won}}</td>
                            <td>{{score.score.lost}}</td>
                            <td>{{score.score.tied}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="script/popper.min.js"></script>
<script src="script/jquery-3.3.1.min.js"></script>
<script src="script/bootstrap.min.js"></script>
<script src="script/games.js"></script>

</html>